.actor {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
}

.actor-details {
  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
  }
}

.actor-name {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-high-contrast);
}

.medias {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.credits {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}

.media-name {
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--color-medium-contrast);
}

.credit {
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-high-contrast);
}

.actor-portrait {
  --actor-portrait-size: 96px;
  width: var(--actor-portrait-size);
  height: var(--actor-portrait-size);
  background-color: var(--color-background);
  border-radius: calc(var(--actor-portrait-size) / 2);
  border: 1px solid var(--color-lowest-contrast);
  object-fit: cover;
  position: relative;
  overflow: hidden;

  img {
    transform: translateY(-1.25rem);
  }
}
