<div class="actor">
  @if (actor().picture) {
  <div class="actor-portrait">
    <img
      class="shimmer"
      width="96"
      height="144"
      [ngSrc]="actor().picture"
      [alt]="actor().name + ' portrait'"
      [loaderParams]="{ type: 'profile' }"
    />
  </div>
  } @else {
  <img
    class="actor-portrait"
    src="/missing-portrait.png"
    [alt]="'Missing portrait for ' + actor().name"
  />
  }

  <div class="actor-details">
    <span class="actor-name">{{ actor().name }}</span>
    <ul class="medias">
      @for (media of actor().media; track $index) {
      <li>
        <span class="media-name">{{ media.name }}</span>
        <ul class="credits">
          @for (credit of media.credits; track $index) {
          <li class="credit">
            {{ credit.character }} ({{ credit.episodeCount }} episode{{
              credit.episodeCount > 1 ? "s" : ""
            }})
          </li>
          }
        </ul>
      </li>
      }
    </ul>
  </div>
</div>
