<div class="actor">
  @if (actor().picture) {
  <div class="actor-portrait">
    <img
      class="shimmer"
      width="96"
      height="144"
      [ngSrc]="actor().picture"
      [alt]="actor().name + ' portrait'"
      [loaderParams]="{ type: 'profile' }"
    />
  </div>
  } @else {
  <img
    class="actor-portrait"
    src="/missing-portrait.png"
    [alt]="'Missing portrait for ' + actor().name"
  />
  }

  <div class="actor-details">
    <span class="actor-name">{{ actor().name }}</span>
    <ul class="medias">
      @for (credit of actor().credits; track $index) {
      <li>
        <span class="media-name">
          {{ credit.media.name }}
          @if (credit.media.date) {({{ credit.media.date | date : "y" }})}
        </span>
        <ul class="credits">
          @for (character of credit.characters; track $index) {
          <li class="credit">
            {{ character.name }}
            @if (character.episodeCount) { ({{
              character.episodeCount
            }}
            episode{{ character.episodeCount > 1 ? "s" : "" }}) }
          </li>
          }
        </ul>
      </li>
      }
    </ul>
  </div>
</div>
