:host {
  display: flex;

  &.inverted {
    .card {
      order: 1;
      margin: 1.5rem 0 0 0;
      padding: 1rem 3rem 1rem 1.5rem;
    }

    .portrait {
      order: 2;
      margin-left: -2rem;
    }
  }
}

.portrait {
  --portrait-size: 128px;
  width: var(--portrait-size);
  height: var(--portrait-size);
  min-width: var(--portrait-size);
  min-height: var(--portrait-size);
  background-color: var(--color-background);
  border-radius: calc(var(--portrait-size) / 2);
  border: 2px solid var(--color-border);
  object-fit: cover;
  position: relative;
  overflow: hidden;

  img {
    transform: translateY(calc(var(--portrait-size) / -4));
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--color-surface);
  border: 2px solid var(--color-border);
  border-radius: 1rem;
  height: max-content;
  margin: 1.5rem 0 0 -2rem;
  padding: 1rem 1.5rem 1rem 3rem;
  max-width: 400px;

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
  }
}

.actor-name {
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--color-high-contrast);
}

.credits {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.media-name {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--color-medium-contrast);
  margin-bottom: 0.25rem;
}

.characters {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}

.character {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--color-high-contrast);
  display: flex;
  flex-wrap: wrap;
  gap: 0.125rem 0.5rem;
}

.episode-count {
  font-weight: 300;
  color: var(--color-low-contrast);
}
