@if (actor().picture) {
<div class="portrait">
  <img
    class="shimmer"
    width="128"
    height="192"
    [ngSrc]="actor().picture"
    [alt]="actor().name + ' portrait'"
    [loaderParams]="{ type: 'profile' }"
  />
</div>
} @else {
<img
  class="portrait"
  src="/missing-portrait.png"
  [alt]="'Missing portrait for ' + actor().name"
/>
}

<div class="card">
  <span class="actor-name">{{ actor().name }}</span>
  <ul class="credits">
    @for (credit of actor().credits; track $index) {
    <li>
      <span class="media-name">
        {{ credit.media.name }}
        @if (credit.media.date) {({{ credit.media.date | date : "y" }})}
      </span>
      <ul class="characters">
        @for (character of credit.characters; track $index) {
        <li class="character">
          <span>{{ character.name || "Unnamed" }}</span>
          @if (character.episodeCount) {
          <span class="episode-count">
            {{ character.episodeCount }} episode{{
              character.episodeCount > 1 ? "s" : ""
            }}
          </span>
          }
        </li>
        }
      </ul>
    </li>
    }
  </ul>
</div>
