.result {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  align-items: center;
}

.actors {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  flex: auto;
  gap: 1rem;
  padding: 1rem 1rem 1rem 0;
  height: min-content;
}

.loading {
  height: 8rem;
  border-radius: 1rem;
}
