@if (media().length) {
<div class="compare">
  <button class="button" (click)="onBackPressed()">
    <div class="button-icon">
      <img src="home.svg" />
      <img src="arrow-left.svg" />
    </div>
    <span class="button-text"> home </span>
  </button>

  @for (item of media(); track $index) {
  <div class="compare-item" (click)="removeMedia(item)" [@smoothInOut]>
    <div class="compare-item-icon">
      @if (item.poster) {
      <img
        class="compare-item-poster shimmer"
        [width]="28"
        [height]="41"
        [ngSrc]="item.poster"
        [loaderParams]="{ type: 'poster' }"
        [alt]="item.name + ' poster'"
      />
      } @else {
      <img
        class="compare-item-poster"
        src="missing-poster.png"
        [alt]="'Missing poster for ' + item.name"
      />
      }
      <img class="compare-item-delete" src="trash.svg" />
    </div>

    <span class="compare-item-name">{{ item.name }}</span>
  </div>
  }
  <button
    class="button"
    [ngClass]="{ highlight: media().length === 1 && !showSearch() }"
    (click)="onToggleSearchPressed()"
  >
    <div class="button-icon">
      <img [src]="showSearch() ? 'chevron-up.svg' : 'plus.svg'" />
    </div>
    <span class="button-text"> {{ showSearch() ? "hide" : "add title" }} </span>
  </button>
</div>
@if (showSearch()) {
<div class="search" [@searchInOut]="width() > 1280 ? 'fullheight' : 'compact'">
  <s-search [focusOnLoad]="true" />
</div>
} }
