:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  align-self: start;
  padding: 1rem 1rem 0 1rem;
  width: 24rem;
  gap: 1rem;
}

.compare {
  flex: initial;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.25rem;
  font-weight: 300;
  color: var(--color-medium-contrast);
  align-items: start;
  justify-content: center;
}

.compare-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem 1rem 0.25rem 0.5rem;
  border-radius: 0.75rem;
  position: relative;

  &:hover {
    cursor: pointer;
    background: var(--color-red-20);

    .compare-item-name {
      color: var(--color-red);
      font-weight: 500;
    }

    .compare-item-poster {
      opacity: 0;
      transform: translateX(-0.5rem);
    }

    .compare-item-delete {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.compare-item-icon {
  height: 2.75rem;
  width: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.compare-item-delete {
  position: absolute;
  opacity: 0;
  transform: translateX(0.5rem);
  transition: opacity 100ms var(--curve-ease-in-out),
    transform 250ms var(--curve-ease-in-out);
}

.compare-item-poster {
  width: 28px;
  height: 41px;
  background-color: var(--color-background);
  border-radius: 0.25rem;
  border: 1px solid var(--color-lowest-contrast);
  object-fit: cover;
  opacity: 1;
  transition: opacity 100ms var(--curve-ease-in-out),
    transform 250ms var(--curve-ease-in-out);
}

.compare-item-name {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--color-high-contrast);
  transition: font-weight 100ms var(--curve-ease-in-out);
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
  padding: 0.25rem 0.75rem 0.25rem 0.25rem;
  background: var(--color-background);
  border: none;
  border-radius: 1rem;
  cursor: pointer;

  transition: background 100ms var(--curve-ease-in-out);

  &.back {
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-medium-contrast);
  }

  &.add {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--color-high-contrast);
  }

  &:hover {
    background: var(--color-lowest-contrast);
  }
}

.search {
  flex: auto;
  overflow: auto;
}
