:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;

  &:after {
    content: "";
    width: 100%;
    height: 3rem;
    position: absolute;
    bottom: 0;
    background: ease-gradient(
      var(--color-background-transparent),
      var(--color-background)
    );
  }
}

.search {
  padding: 0.75rem 0.5rem;
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--color-high-contrast);
  outline: none;
  flex: initial;
  border-radius: 1rem;
  z-index: 2;

  --border-thickness: 1px;
  border: double var(--border-thickness) transparent;
  background-image: linear-gradient(
      var(--color-elevated),
      var(--color-elevated)
    ),
    linear-gradient(
      to right,
      var(--color-lowest-contrast),
      var(--color-lowest-contrast)
    );
  background-origin: border-box;
  background-clip: padding-box, border-box;
  margin: calc(2px - var(--border-thickness));

  &::placeholder {
    color: var(--color-low-contrast);
    font-weight: 300;
  }

  &:focus {
    --border-thickness: 2px;
    background-image: linear-gradient(
        var(--color-elevated),
        var(--color-elevated)
      ),
      linear-gradient(
        to right,
        var(--color-primary) -25%,
        var(--color-accent) 125%
      );
  }
}

.results {
  padding: 2rem 0 4rem 0;
  margin: -1rem 0 0;
  flex: auto;
  overflow: auto;
  scrollbar-width: none;
  z-index: 1;
}

.result {
  list-style: none;
  padding: 0.5rem;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;

  transition: padding-left 100ms ease;

  &:not(:first-child) {
    border-top: 1px solid var(--color-lowest-contrast);
  }

  + .result:hover,
  &:hover + .result {
    border-color: transparent;
  }

  &:hover {
    background-color: var(--color-lowest-contrast);
    border-radius: 1rem;
    cursor: pointer;
    padding-left: 0.5rem;

    .result-name {
      font-weight: 900;
    }

    .result-description {
      font-weight: 500;
    }
  }
}

.result-poster {
  width: 56px;
  height: 83px;
  background-color: var(--color-background);
  border-radius: 0.5rem;
  border: 1px solid var(--color-lowest-contrast);
  object-fit: cover;
}

.result-details {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.result-name {
  font-size: 1.25rem;
  font-weight: 500;
  transition: font-weight 100ms ease;
  color: var(--color-high-contrast);
}

.result-description {
  font-size: 1rem;
  font-weight: 300;
  transition: font-weight 100ms ease;
  color: var(--color-medium-contrast);
}
