<input
  [formControl]="searchFormControl"
  type="text"
  name="Search"
  [placeholder]="placeholder()"
  autocomplete="off"
  class="search"
/>

<ul class="results">
  @for (result of results(); track $index) {
  <li class="result" (click)="onResultClick(result)">
    <img
      class="result-poster"
      [src]="result.poster"
      [alt]="result.name + ' poster'"
      (error)="handleImageError($event)"
    />
    <div class="result-details">
      <span class="result-name">{{ result.name }}</span>
      <span class="result-description">
        {{ result.type === "tv" ? "TV Show" : "Movie" }} ·
        {{ result.date ? (result.date | date : "y") : "Unknown" }}
      </span>
    </div>
  </li>
  }
</ul>
