<input
  [formControl]="searchFormControl"
  type="text"
  name="Search"
  [placeholder]="placeholder()"
  autocomplete="off"
  spellcheck="false"
  class="search"
/>

<ul class="results">
  @for (result of results(); track (result.type + result.id); let i = $index) {
  <li class="result" (click)="onResultClick(result)">
    @if (result.poster) {
    <img
      class="result-poster shimmer"
      width="56"
      height="83"
      [ngSrc]="result.poster"
      [loaderParams]="{ type: 'poster' }"
      [alt]="result.name + ' poster'"
    />
    } @else {
    <img
      class="result-poster"
      src="/missing-poster.png"
      [alt]="'Missing poster for ' + result.name"
    />
    }
    <div class="result-details">
      <span class="result-name">{{ result.name }}</span>
      <span class="result-description">
        {{ result.type === "tv" ? "TV Show" : "Movie" }} ·
        {{ result.date ? (result.date | date : "y") : "Unknown" }}
      </span>
    </div>
  </li>
  }
</ul>
