:root {
  --color-primary: #ff5b19;
  --color-accent: #aecacd;
  --color-high-contrast: #04041b;
  --color-medium-contrast: #33374d;
  --color-low-contrast: #aeb0ba;
  --color-lowest-contrast: #eaebed;
  --color-background: #fbfbfb;
  --color-background-transparent: rgba(251, 251, 251, 0);
  --color-elevated: #ffffff;
}

body,
input {
  font-family: "Onest", -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: var(--color-background);
}

* {
  box-sizing: border-box;
}
