.intro {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;

  h1 {
    font-size: 1.25rem;
    font-weight: 300;
    margin: 0;
    line-height: 1em;
    color: var(--color-low-contrast);
  }

  p {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
    line-height: 1.25em;
  }
}

.intro-name {
  font-size: 4rem;
  font-weight: 900;
  background: linear-gradient(
    to top right,
    var(--color-primary) 15%,
    var(--color-accent) 85%
  );
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
